@import 'theme.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html,
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  color: var(--text-principal);
  background-color: var(--page-background-color);
  transition: color .25s, background-color .25s;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  background: none;
  transition: color .25s;
}
