@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'theme.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  text-rendering: optimizeLegibility;
  font-weight: normal;
  color: var(--text-principal);
  background-color: var(--page-background-color);
  transition: color .25s, background-color .25s;
  height: 100vh;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  background: none;
  transition: color .25s;
}

hr {
  margin: 0 auto;
  max-width: 70%;
  width: 100%;
  border-style: solid;
  border-color: var(--border-color);
}

.g-wave-background {
  position: fixed;
  z-index: -1;
  left: 0;
  bottom: 0;
  display: flex;
  max-width: 100%;
  width: 100%;
  height: 300px;
}

@keyframes g-show-expand {
  50% {
    transform: scale(1.01);
  }
  0%, 100% {
    transform: scale(1);
  }
}

@keyframes g-show-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
