$white:       var(--white);
$white-soft:  var(--white-soft);
$white-mute:  var(--white-mute);
$black:       var(--black);
$black-soft:  var(--black-soft);
$black-mute:  var(--black-mute);
$gray:        var(--gray);

$text:        var(--text);
$background:  var(--background);
